# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android
android/local.properties
android/key.properties
android/**/*.keystore
android/**/*.jks
android/.gradle/
android/app/release/
*.iml
.gradle/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml
